{% extends "base.html" %}

{% block main %}
<h3 class="title">Dane Kontaktowe</h3>
<div class="content">

<table style="margin-left:2%;margin-right:2%">
   <tr>
      <td><i class="fas fa-phone-alt"></i><br><span style="font-size:small">Telefon </span></td> <td> +48 555 666 777</td>
   </tr>
   <tr>
      <td><i class="fas fa-map-marker-alt"></i><br><span style="font-size:small">Adres</span></td> <td>Warsztat Samochodowy SerwisUS <br>al. Wyzwolenia 39 C <br> 70-531 Szczecin <br> Polska</td>
   </tr>
   <tr>
      <td><i class="far fa-envelope"></i><br><span style="font-size:small">E-mail</span> </td> <td>warsztat.serwisus@gmail.com</td>
   </tr>
</table>
</div>
{% endblock %}